@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: gainsboro;
}

body img {
    margin-top: 1.25%;
    width: 100vw;
}

.hidden {
    display: none;
}

.top-menu {
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

/* .top-menu__column {
    display: 
} */

.top-menu__column:first-child h2 {
    position: relative;
    top: -27.5%;
    left: -27.5%;
}

.top-menu__column:last-child span {
    font-weight: bold;
}

.top-menu__column:last-child span:nth-child(1) {
    color: salmon;
}

.top-menu__column:last-child span:nth-child(2) {
    color: blueviolet;
}

#quote span:first-child {
    font-style: italic;
}

#quote span:last-child {
    font-weight: bold;
}